.date {
  display: flex;
  list-style: none;
  justify-content: space-around;
  border: 0.5px solid rgba(255, 255, 255, 0.42);
  margin: 0;
  width: 100%;
  /* width: 900px; */
  /* max-height: 27px;
    min-height: 26px; */
}
.date a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  display: flex;

  /* min-height: 27px;
    max-height: 27px; */
  /* margin-bottom: 0; */
}
a span {
  margin-right: 4px;
}
.date-picker {
  width: 125px;
  cursor: pointer;
  text-align: center;
  /* margin-right: 50px; */
}
ul .date-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 3rem;
  cursor: pointer;
}
.date .active {
  color: orangered;
}

@media (max-width: 680px) {
  .date {
    align-items: center;
    font-size: smaller;
    justify-content: space-between;
    padding: 0;
  }
  .date a {
    font-size: smaller;
    margin: 0 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul .date-container {
    width: 60%;
  }
  .date-picker {
    padding: 0;
    margin: 0;
    width: 70px;
  }
  .icon {
    width: 1.5rem;
    height: 1rem;
  }
}
