.table {
  width: 100%;
  background-color: rgb(28, 38, 50);
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 1px;
  /* padding-right: 30px; */
  /* margin-left: 10px; */
  border-radius: 15px;
  height: -moz-fit-content; /* Firefox */
  height: -webkit-fit-content; /* Safari and Chrome */
  height: fit-content;
}

.table .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 10px;
  font-weight: 600;
}
.header .team-details {
  display: flex;
  justify-content: space-around;
  /* width: 30%; */
}
.header span {
  width: 22px;
  text-align: center;
}
.header span {
  width: 32px;
  text-align: center;
  position: relative;
  /* overflow-x: hidden; */
}
.header span:hover::after {
  content: attr(data-full);
  position: absolute;
  top: 60%;
  right: 5%;
  display: none;
  padding: 5px;
  color: rgb(178, 178, 154);
  /* border: 1px solid #ccc; */
}

.header span:hover::after {
  display: block;
}
.header .header-name {
  margin-left: 8px;
  width: 170px;
  text-align: left;
}
hr {
  width: 98%;
}
.table .team-data {
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(85, 83, 83, 0.813);
  align-items: center;
  padding: 6px 0;
}
.table .team-data__details {
  display: flex;
  /* width: 30%; */
  justify-content: space-around;
  align-items: center;
}
.table .position {
  width: 22px;
  text-align: center;
}
.table .name {
  width: 170px;
  margin-left: 8px;
  text-align: left;
  display: flex;
  align-items: center;
}
.name img {
  max-height: 30px;
}
.team-data span {
  width: 22px;
  text-align: center;
}
.highlight {
  background-color: rgba(193, 40, 228, 0.566);
  font-weight: 500;
}

@media (max-width: 500px) {
  .header .header-name {
    width: 100px;
  }
  .table .name {
    width: 100px;
  }
}
