.match-container {
  background-color: #454545;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* justify-content: center; */
  /* align-items: center; */
}
.note {
  font-size: small;
  text-align: center;
  color: rgb(208, 228, 228);
  font-weight: 500;
  margin-bottom: 2px;
}
.match-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 0.5rem;
    border-radius: 4px; */
}
.lhs {
  display: flex;
  align-items: center;
}
.cricket-time {
  min-width: 38px;
  text-align: center;
  /* transform: scale(1, 0.9); */
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
}
.time {
  min-width: 38px;
  text-align: center;
  transform: scale(1, 0.9);
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
.basketball-time {
  min-width: 80px;
  text-align: center;
  transform: scale(1, 0.9);
  color: rgb(208, 208, 208);
}
.score {
  margin-right: 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  font-weight: bold;
  min-width: 90px;
  text-align: right;
}
.score .innings {
  font-weight: normal;
}
.score .total {
  margin-left: 10px;
}
.score .first-score {
  min-height: 30px;
  margin-bottom: 2px;
}
.score .second-score {
  min-height: 30px;
  margin-top: 6px;
}
.title-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  /* flex-direction: column; */
}
.title {
  display: flex;
  flex-direction: column;
}
.competition {
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}
.competition:hover {
  text-decoration: underline;
  font-style: italic;
  color: darkgray;
}
.country {
  font-weight: 400;
  font-size: small;
}

.teams {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.teams div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  min-height: 29px;
}
.rhs {
  display: flex;
  align-items: center;
}
.match-item .star {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}
.loser {
  color: #808080;
  font-weight: 600;
}

@media (max-width: 680px) {
  .match-container {
    font-size: smaller;
  }
  .lhs {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .lhs .time {
    margin: 0;
    /* margin-left: 2px; */
    min-width: 14%;
  }
  .lhs .teams {
    margin: 0;
    width: 80%;
  }
  .rhs .score {
    text-align: right;
    margin: 0;
  }
  .match-item .star {
    margin: 0;
    margin-left: 6px;
    padding-right: 0;
  }
}
