.date {
  display: flex;
  list-style: none;
  justify-content: space-around;
  border: 0.5px solid rgba(255, 255, 255, 0.42);
  margin: 0;
  /* width: 900px; */
  /* max-height: 27px;
  min-height: 26px; */
}
.date a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  /* min-height: 27px;
  max-height: 27px; */
  /* margin-bottom: 0; */
}
.date-picker {
  width: 125px;
  cursor: pointer;
  text-align: center;
  /* margin-right: 50px; */
}

/* .date-picker {
  background-color: rgb(28, 225, 225);
  color: white;
  font-weight: 900;
}
.date-picker:focus {
  outline: none;
} */
.icon {
  width: 3rem;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-around;
}
.live-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.match-list {
  width: 50%;
  /* background-color: black; */
}
.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  /* width: 90%; */
  border-radius: 30px;
  margin: 2rem 2rem;
  padding: 2rem;
  background-color: #5f55556b;
  font-size: larger;
}
.fallback svg {
  max-width: 2rem;
}
.match-list img {
  width: 2.5rem;
  border-radius: 1px;
  padding-right: 0.69rem;
  /* padding-top: 1rem; */
}
.featured {
  width: 35%;
  background-color: #454545;
  margin-top: 1.5rem;
  height: 13rem;
  border-radius: 15px;
}
.date .active {
  color: orangered;
}
