.container {
  height: 70vh;
  padding: 0 10px;
  margin-top: 5px;
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: orange;
  font-style: italic;
}
.fallback svg {
  width: 40px;
}
.card {
  display: flex;
  background-color: black;
  border: 0px solid white;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 15px;
  justify-content: center;
}

.card svg {
  width: 20px;
  margin: 0 10px;
  /* height: 10%; */
}
.minute {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 10px;
}
.time {
  background-color: rgba(35, 35, 35, 0.715);
  justify-content: center;
  font-weight: 700;
  padding-left: 55px;
}
.half {
  border: 2px solid yellow;
}
.full {
  border: 3px solid rgb(37, 210, 37);
}
.goal-icon__container {
  display: flex;
  height: 50px;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-style: italic;
  font-size: medium;
  /* margin: 0 5px; */
}
.penalty-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
  border-radius: 15px;
}
.penalty-score__container {
  height: 70px;
  padding-left: 0;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  flex-direction: column;
  font-style: italic;
  /* justify-content: center; */
}
.penalty-score {
  display: flex;
  align-items: center;
}
.player-container {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  min-width: 106px;
  /* margin-left: 20px; */
}
/* .player {
  min-width: 106px;
} */
.score {
  color: rgba(222, 219, 219, 0.74);
}
.home {
  display: flex;
  margin-right: 50px;
  align-items: center;
}
.away {
  display: flex;
  align-items: center;
}
.away .goal-icon__container {
  margin-right: 20px;
}
.logo {
  width: 30px;
  height: 30px;
}
/* .away-player {
  margin-left: 50px;
} */
