.featured-title {
  display: block;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat', 'sans-serif';
}
.featured-match {
  background-color: rgba(8, 8, 5);
  margin: 0 1rem;
  border-radius: 5px;
  min-height: 110px;
  margin-top: 0.7rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.featured-match img {
  margin-top: 0.5rem;
  width: 3rem;
}
.featured-lhs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featured-score {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  width: 80px;
  justify-content: space-around;
}
.cricket-score {
  font-size: 15px;
  display: flex;
  justify-content: center;
  width: 120px;
}
.cricket-score span {
  min-width: 20px;
}
.featured-rhs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date .active {
  color: orangered;
}
.loser {
  color: #808080;
  font-weight: 600;
}
