.title-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  /* max-width: 100px; */
  width: 60%;
  justify-content: space-between;
  /* flex-direction: column; */
}
.title-container .arrow {
  font-size: 40px;
  margin-left: 40px;
  cursor: pointer;
}
.title-container .name {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-evenly;
}
.title-container img {
  width: 2.5rem;
  color: white;
  border-radius: 3px;
}
.title-container svg {
  margin-left: 15px;
  cursor: pointer;
}
.title {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.competition {
  font-weight: 700;
  font-size: medium;
}
.country {
  font-weight: 400;
  font-size: small;
}
.navigation {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  /* justify-content: space-between; */
}
.navigation--matches {
  width: 50%;
  font-size: large;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  border-bottom: 1px solid rgba(85, 83, 83, 0.813);
  /* font-size: medium; */
}
.standings {
  text-align: center;
  width: 50%;
  font-weight: 900;
  font-size: larger;
}
.container {
  display: flex;
  /* justify-content: space-between; */
}
.state-container {
  display: flex;
  margin-left: 0.6rem;
}
.matches-container hr {
  color: red;
}
.state {
  font-weight: 600;
  font-size: large;
  color: #d3d3d3;
  width: 120px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 1.2rem 0.5rem;
  cursor: pointer;
  margin-top: 0;
}

.matches-container {
  margin-top: 1rem;
  width: 50%;
  /* background-color: black; */
  margin-left: 2rem;
}
.match-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28, 38, 50);
  margin-top: 0.7rem;
  width: 92%;
  max-height: 65px;
  margin-left: 20px;
  border-radius: 7px;
}
.container img {
  width: 1.4rem;
  margin-right: 5px;
}
.lhs {
  display: flex;
  align-items: center;
}
.cricket-time {
  min-width: 38px;
  text-align: center;
  /* transform: scale(1, 0.9); */
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
}
.date-container {
  min-width: 49px;
  /* max-width: 49px; */
  text-align: center;
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  display: flex;
  flex-direction: column;
}
.date-container .date {
  margin-bottom: 10px;
}
.basketball-time {
  min-width: 80px;
  text-align: center;
  transform: scale(1, 0.9);
  color: rgb(208, 208, 208);
}
.teams {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.teams div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  min-height: 29px;
  min-width: 156px;
}
.rhs {
  display: flex;
}
.rhs svg {
  margin-right: 5px;
  cursor: pointer;
}
.score {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  min-width: 60px;
  text-align: right;
}
.score .innings {
  font-weight: normal;
}
.score .total {
  margin-left: 10px;
}
.score .second-score {
  margin-top: 13px;
}
.table {
  width: 50%;
  background-color: rgb(28, 38, 50);
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: -moz-fit-content; /* Firefox */
  height: -webkit-fit-content; /* Safari and Chrome */
  height: fit-content;
}

.table .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  font-weight: 600;
}
.header .team-details {
  display: flex;
  justify-content: space-around;
  /* width: 30%; */
}
.header span {
  width: 22px;
  text-align: center;
}
.header .header-name {
  margin-left: 8px;
  width: 170px;
  text-align: left;
}
hr {
  width: 98%;
}
.table .team-data {
  margin-top: 7px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(85, 83, 83, 0.813);
  align-items: center;
}
.table .team-data__details {
  display: flex;
  /* width: 30%; */
  justify-content: space-around;
  align-items: center;
}
.table .position {
  width: 22px;
  text-align: center;
}
.table .name {
  width: 170px;
  margin-left: 8px;
  text-align: left;
  display: flex;
  align-items: center;
}
.name img {
  max-height: 30px;
}
.team-data span {
  width: 22px;
  text-align: center;
}
.active {
  color: black;
  background-color: white;
}
