.title-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
  justify-content: space-between;
}
.title-container .arrow {
  font-size: 20px;
  padding: 0 10px;
  padding-bottom: 5px;
  margin-left: 30px;
  margin-top: 7px;
  cursor: pointer;
  display: inline-block;
  transform: scale(1.5);
  border: 1px solid rgb(82, 74, 74);
  border-radius: 20%;
  background-color: #4e4949a0;
}
.arrow:hover {
  background-color: black;
}
.title-container .name {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
}
.title-container img {
  width: 2.5rem;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
}
.title-container svg {
  margin-left: 15px;
  cursor: pointer;
}
.title {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.competition {
  font-weight: 700;
  font-size: medium;
}
.country {
  font-weight: 400;
  font-size: small;
}
.navigation {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.navigation--matches {
  width: 50%;
  font-size: large;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  border-bottom: 1px solid rgba(85, 83, 83, 0.813);
}
.standings {
  text-align: center;
  width: 50%;
  font-weight: 900;
  font-size: larger;
}
.container {
  display: flex;
}
.state-container {
  display: flex;
  margin-left: 0.6rem;
}
.matches-container hr {
  color: red;
}
.state {
  font-weight: 600;
  font-size: large;
  color: #d3d3d3;
  width: 120px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 1.2rem 0.5rem;
  cursor: pointer;
  margin-top: 0;
}
.switch {
  display: flex;
  width: 92%;
  justify-content: space-between;
  margin-left: 20px;
  margin-bottom: 1rem;
}
.switch span {
  border: 2px solid #d3d3d3;
  padding: 0 8px;
  border-radius: 20px;
  cursor: pointer;
}

.matches-container {
  margin-top: 1rem;
  width: 50%;
  margin-left: 2rem;
}
.standings-container {
  width: 50%;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.active {
  color: black;
  background-color: white;
}

@media (max-width: 900px) {
  .container {
    display: block;
  }
  .matches-container {
    width: 100%;
    margin: 0;
  }
  .standings {
    display: none;
  }
  .table {
    display: none;
  }
  .standings-container {
    width: 98%;
    margin-left: 5px;
  }
}
@media (max-width: 400px) {
  .standings-container {
    display: none;
  }
}
