.match-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28, 38, 50);
  margin-top: 0.7rem;
  width: 92%;
  max-height: 100px;
  margin-left: 20px;
  border-radius: 7px;
  cursor: pointer;
}
.container img {
  width: 1.4rem;
  margin-right: 5px;
}
.lhs {
  display: flex;
  align-items: center;
}
.cricket-time {
  min-width: 38px;
  text-align: center;
  /* transform: scale(1, 0.9); */
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
}
.date-container {
  min-width: 49px;
  /* max-width: 49px; */
  text-align: center;
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  display: flex;
  flex-direction: column;
}
.date-container .date {
  margin-bottom: 10px;
}
.basketball-time {
  min-width: 80px;
  text-align: center;
  transform: scale(1, 0.9);
  color: rgb(208, 208, 208);
}
.teams {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.teams div {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  min-height: 29px;
  min-width: 156px;
}
.rhs {
  display: flex;
}
.rhs svg {
  margin-right: 5px;
  cursor: pointer;
}
.score {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  min-width: 60px;
  text-align: right;
}
.score .innings {
  font-weight: normal;
  min-width: 30px;
  /* display: flex; */
  /* flex-direction: column; */
}
.score .total {
  margin-left: 10px;
}
.score .second-score {
  margin-top: 13px;
}
.active {
  color: black;
  background-color: white;
}
.loser {
  color: #808080;
  font-weight: 600;
}

@media (max-width: 900px) {
  .match-item {
    width: 98%;
    margin: 0;
    padding: 2.5rem 0;
    margin-bottom: 5px;
    font-size: small;
    max-height: 100px;
  }
  .score {
    min-width: 0;
  }
  .teams {
    margin-left: 2px;
  }
  .teams div {
    min-width: 0;
  }
}
