* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(8, 8, 5);
  color: white;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #a381813e;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.centered {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  text-align: center;
}
