.match-container {
  background-color: #454545;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.note {
  font-size: small;
  text-align: center;
  color: rgb(208, 228, 228);
  font-weight: 500;
  margin-bottom: 2px;
}
.match-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.home,
.away {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.score {
  font-weight: bolder;
  min-width: 30px;
  justify-content: center;
}
.home {
  margin-bottom: 15px;
}

.home div,
.away div {
  display: flex;
  align-items: center;
}
.cricket-time {
  min-width: 38px;
  text-align: center;
  color: rgb(208, 208, 208);
  margin-left: 0.5rem;
}
.time {
  min-width: 38px;
  text-align: center;
  transform: scale(1, 0.9);
  color: rgb(208, 208, 208);
}
.basketball-time {
  width: 80px;
  text-align: center;
  transform: scale(1, 0.9);
  color: rgb(208, 208, 208);
}
.innings {
  font-weight: normal;
  min-width: 80px;
  text-align: center;
}
.total {
  min-width: 30px;
  margin-left: 5px;
}
.title-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.title {
  display: flex;
  flex-direction: column;
}
.competition {
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}
.competition:hover {
  text-decoration: underline;
  font-style: italic;
  color: darkgray;
}
.country {
  font-weight: 400;
  font-size: small;
}

.teams {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.loser {
  color: #808080;
  font-weight: 600;
}
.playing {
  border-left: 8px #3fade9 solid;
  border-radius: 10px;
}
.abandoned {
  border-left: 8px red solid;
  border-radius: 10px;
}

@media (max-width: 680px) {
  .match-container {
    font-size: smaller;
  }
  .time {
    margin: 0;
    min-width: 14%;
  }
}
