.container {
  display: flex;
  justify-content: space-around;
}
.live-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.match-list {
  width: 50%;
}
.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;

  border-radius: 30px;
  margin: 2rem 2rem;
  padding: 2rem;
  background-color: #5f55556b;
  font-size: larger;
}
.fallback svg {
  max-width: 2rem;
}
.match-list img {
  width: 2.5rem;
  border-radius: 1px;
  padding-right: 0.69rem;
}
.featured {
  width: 35%;
  background-color: #454545;
  margin-top: 1.5rem;
  height: 13rem;
  border-radius: 15px;
}

@media (max-width: 680px) {
  .featured {
    display: none;
  }
  .match-list {
    width: 100%;
    font-size: smaller;
  }
  .match-list img {
    width: 1.5rem;
    height: 1rem;
  }
}
